<h1>Book an Appointment</h1>
<% if (messages.error) { %>
<%= messages.error %>
<% } %>
<form action="/appointment/new" method="POST">

  <div id="cart-container">
    <h3>Cart: </h3>
    <p id="cartCount" name="cartCount">0<p>
    <h3>Total: </h3>
    <p name="total" id="total">$0<p>
    <h3>Duration: </h3>
    <p name="totalDuration" id="totalDuration">0<p>
  </div>


  <div class="card active">
    <div>
      <label for="date">Date</label>
      <input name="date" id="date" type="date" required>
    </div>

    <div>
      <% services.forEach(service => { %>
        <div id="<%= service.name %>" onclick="serviceSelect('<%=service.name%>','<%=service.price%>','<%=service.duration%>')">
          <img height="150" width="100" src="<%= service.imagePath %>">
          <h3><%= service.name %></h3>
        </div>
      <% }) %>
    </div>
    <h3 onclick="showTechnicians()">Next</h3>
  </div>


  <div class="card">
    <label for="technicians">Choose a technician</label>
    <select id="technicians" name="technicians" onchange="showTimes()">
      <option id="default" value="No Preferance">Default</option>
    </select>
    <div id="appointmentTimes">
    </div>
  </div>

   <!-- these fields will be sent to server -->
  <input type="hidden" id="cartTotalDuration" name="cartTotalDuration">
  <input type="hidden" id="cartTotalPrice" name="cartTotalPrice">
  <input type="hidden" id="services" name="services">

  <a href="/">Cancel</a>
  <button type="submit" onclick="serverVariables()">Submit</button>
</form>

<script>
const cart = [];
const cartTotal = 0;
const cartTotalDuration = 0;
function serviceSelect(name, price, duration){
  //adds service to cart
  const service = {name: name, price: price, duration: duration}
  cart.push(service)

  //increment cart
  const cartElement = document.getElementById("cartCount")
  cartElement.innerHTML = cart.length

  //create service html in cart div
  const serviceName = document.createElement("p")
  serviceName.setAttribute("id","serviceName")
  const servicePrice = document.createElement("p")
  servicePrice.setAttribute("id","servicePrice")
  const serviceDuration = document.createElement("p")
  serviceName.setAttribute("id","serviceName")
  const nameNode = document.createTextNode(name);
  serviceName.appendChild(nameNode); 
  const priceNode = document.createTextNode(price)
  servicePrice.appendChild(priceNode); 
  const durationNode = document.createTextNode(duration)
  serviceDuration.appendChild(durationNode); 

  const serviceDiv = document.createElement("div")
  const serviceDivId = name+"div"
  serviceDiv.setAttribute("id",serviceDivId)
  serviceDiv.appendChild(serviceName)
  serviceDiv.appendChild(servicePrice)
  serviceDiv.appendChild(serviceDuration)

  const cartContainer = document.getElementById("cart-container")
  cartContainer.insertBefore(serviceDiv, cartContainer.firstChild)

  //cart total price
  const total = document.getElementById("total")
  total.innerHTML = (cartTotalDuration+parseInt(duration))

  //cart total duration
  const totalDuration = document.getElementById("totalDuration")
  totalDuration.innerHTML = (cartTotal+parseInt(price))

  //TODO change element state and make cart look good
  //const service = document.getElementById(name)
}

function showTechnicians(){
  //TODO call animation to switch to next div
  const weekday = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"];
  //date in form of year-month-day
  const date = document.getElementById("date").value
  const d = new Date(date.replace(/-/g, '\/'))
  const day = weekday[d.getDay()]

  //creates technician and disables if they are not working that day of the week
  //TODO show that technician doesn't work that day
  <% technicians.forEach(technician => { %>
    const techOption = document.createElement("option")
    techOption.setAttribute("value","<%=technician.name%>")
    const node = document.createTextNode("<%=technician.name%>");
    techOption.appendChild(node); 
    const daysWorkingString = "<%=technician.daysWorking%>"
    const daysWorking = daysWorkingString.split(',')
    if(!daysWorking.includes(day)){
      console.log("not working this day")
      techOption.setAttribute("disabled","")
    }
    const select = document.getElementById("technicians")
    select.appendChild(techOption)
  <% }) %>
}
function showTimes(){
    const appointmentDiv = document.getElementById("appointmentTimes")

    //TODO do this after i figure out how to make appointment
    //filter times that the technician already has booked
    const technicianName = document.getElementById("technicians").value
    <% technicians.forEach(technician => { %>
      <% console.log(technician.upcomingAppointments) %>
    <% }) %>

    //i = 570 bc thats the time in minutes for 9:30
    // <1140 bc that 7 pm
    for(let i = 570; i<1140; i += 15){
      const timeLabel = document.createElement("label")
      const timeInput = document.createElement("input")

      const hour = Math.floor(i/60)
      const minute = i%60
      const time = hour + ':' + minute
      const formatedHour = hour > 12 ? hour - 12 : hour
      const formatedMinute = minute<10 ? "0"+minute: minute
      const formatedTime = formatedHour + ':' + formatedMinute

      const node = document.createTextNode(formatedTime);
      timeLabel.appendChild(node); 
      timeInput.setAttribute("type","radio")
      timeInput.setAttribute("name","timeSlot")
      timeInput.setAttribute("id", time)
      timeInput.setAttribute("value",time)
      timeLabel.setAttribute("for",time)

      appointmentDiv.appendChild(timeInput)
      appointmentDiv.appendChild(timeLabel)
    }
}
function serverVariables(){
  const durationElement = document.getElementById("cartTotalDuration")
  const priceElement = document.getElementById("cartTotalPrice")
  const duration = document.getElementById("totalDuration").innerHTML
  const price = document.getElementById("total").innerHTML
  durationElement.setAttribute("value",duration)
  priceElement.setAttribute("value",price)

  const services = document.getElementById("services")
  let value = ""
  cart.forEach(service =>{
    value += service.name 
    value += ','
  })
  services.setAttribute("value", value)
}
</script>
