<h1>Book an Appointment</h1>
<% if (messages.error) { %>
<%= messages.error %>
<% } %>
<form action="/appointment/new" method="POST">

  <!-- these fields will be sent to server -->
  <input type="hidden" id="cartTotalDuration" name="cartTotalDuration">
  <input type="hidden" id="cartTotalPrice" name="cartTotalPrice">
  <input type="hidden" id="services" name="services">

  <div id="cart-container">
    <h3>Cart: </h3>
    <p id="cartCount" name="cartCount">0<p>
    <h3>Total: </h3>
    <p name="total" id="total">0<p>
    <h3>Duration: </h3>
    <p name="totalDuration" id="totalDuration">0<p>
  </div>


  <div class="card active">
    <div>
      <label for="date">Date</label>
      <input name="date" id="date" type="date" required>
    </div>

    <div>
      <% services.forEach(service => { %>
        <div id="<%= service.name %>" onclick="serviceSelect('<%=service.name%>','<%=service.price%>','<%=service.duration%>')">
          <img height="150" width="100" src="<%= service.imagePath %>">
          <h3><%= service.name %></h3>
        </div>
      <% }) %>
    </div>
    <h3 onclick="showTechnicians()">Next</h3>
  </div>

  <div>
    <a href="/">Cancel</a>
    <button type="submit" onclick="serverVariables()">Submit</button>
  </div>

</form>

<script>
let date = "";

const cart = [];
let cartTotal = 0;
let cartTotalDuration = 0;
function serviceSelect(name, price, duration){
  //adds service to cart
  const service = {name: name, price: price, duration: duration}
  cart.push(service)

  //increment cart
  const cartElement = document.getElementById("cartCount")
  cartElement.innerHTML = cart.length

  //create service html in cart div
  const serviceName = document.createElement("p")
  serviceName.setAttribute("id","serviceName")
  const servicePrice = document.createElement("p")
  servicePrice.setAttribute("id","servicePrice")
  const serviceDuration = document.createElement("p")
  serviceName.setAttribute("id","serviceName")
  const nameNode = document.createTextNode(name);
  serviceName.appendChild(nameNode); 
  const priceNode = document.createTextNode(price)
  servicePrice.appendChild(priceNode); 
  const durationNode = document.createTextNode(duration)
  serviceDuration.appendChild(durationNode); 

  const serviceDiv = document.createElement("div")
  const serviceDivId = name+"div"
  serviceDiv.setAttribute("id",serviceDivId)
  serviceDiv.appendChild(serviceName)
  serviceDiv.appendChild(servicePrice)
  serviceDiv.appendChild(serviceDuration)

  const cartContainer = document.getElementById("cart-container")
  cartContainer.insertBefore(serviceDiv, cartContainer.firstChild)

  //cart total price
  const total = document.getElementById("total")
  cartTotal = parseInt(total.innerHTML)+parseInt(price)
  total.innerHTML = cartTotal

  //cart total duration
  const totalDuration = document.getElementById("totalDuration")
  cartTotalDuration = parseInt(totalDuration.innerHTML)+parseInt(duration)
  totalDuration.innerHTML = cartTotalDuration

  //TODO change element state and make cart look good
}

function showTechnicians(){
  //TODO call animation to switch to next div
  const weekday = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"];
  //date in form of year-month-day
  const dateElement = document.getElementById("date").value
  date = new Date(dateElement.replace(/-/g, '\/'))
  const day = weekday[date.getDay()]

  for(let i=0;i<cart.length;i++){
    //create html elements for service
    const card = document.createElement("div")
    card.setAttribute("class","card")
    card.setAttribute("id","card"+i)
    const label = document.createElement("label")
    const labelNode = document.createTextNode("Choose a technician for: " + cart[i].name);
    label.appendChild(labelNode)
    label.setAttribute("for","service"+i)
    const select = document.createElement("select")
    select.setAttribute("id","service"+i)
    select.setAttribute("onchange","showTimes("+i+")")
    const times = document.createElement("div")
    times.setAttribute("id","appointmentTimes"+i)

    const defaultOption = document.createElement("option")
    defaultOption.setAttribute("value","default")
    const defaultNode = document.createTextNode("No Preferance");
    defaultOption.appendChild(defaultNode)
    select.appendChild(defaultOption)

    <% technicians.forEach(technician => { %>
      const techOption = document.createElement("option")
      techOption.setAttribute("value","<%=technician.name%>")
      const node = document.createTextNode("<%=technician.name%>");
      techOption.appendChild(node); 
      const daysWorkingString = "<%=technician.daysWorking%>"
      const daysWorking = daysWorkingString.split(',')
      if(!daysWorking.includes(day)){
        console.log("not working this day")
        techOption.setAttribute("disabled","")
      }
      const servicesString ="<%=technician.services%>"
      const services = servicesString.split(',')
      if(!services.includes(cart[i].name)){
        console.log("cannot do this service")
        techOption.setAttribute("disabled","")
      }
      select.appendChild(techOption)
    <% }) %>

    //adds elements to card
    card.appendChild(label)
    card.appendChild(select)
    card.appendChild(times)

    const form = document.getElementsByTagName("form")
    form[0].insertBefore(card,form[0].lastElementChild)
  }
}
function showTimes(num){
  const card = document.getElementById("card"+num)
  const technician = document.getElementById("service"+num).value
  const appointmentTimesDiv = document.getElementById("appointmentTimes"+num)

  //get upcoming appointments on selected day
  //filters upcoming appointments on that day and puts the times into an array
  const upcomingAppointments = [];
  <% technicians.forEach(technician => { %>
    <%for(let i=0;i<technician.upcommingAppointments.length;i++){%>
    //this is for testing later
      if("<%=technician.upcommingAppointments[i].date%>" === date.toString()){
        upcomingAppointments.push("<%=technician.upcommingAppointments[i].time%>")
      }
    <% } %>
  <% }) %>

  //i = 570 bc thats the time in minutes for 9:30
  // <1140 bc that 7 pm
  for(let i = 570; i<1140; i += 15){
    const hour = Math.floor(i/60)
    const minute = i%60
    const formatedHour = hour > 12 ? hour - 12 : hour
    const formatedMinute = minute<10 ? "0"+minute: minute
    const formatedTime = formatedHour + ':' + formatedMinute
    const time = hour + ':' + formatedMinute
    if(upcomingAppointments.includes(time)){
      continue;
    }

    const timeLabel = document.createElement("label")
    const timeInput = document.createElement("input")

    const node = document.createTextNode(formatedTime);
    timeLabel.appendChild(node); 
    timeInput.setAttribute("type","radio")
    timeInput.setAttribute("name","timeSlot")
    timeInput.setAttribute("id", time)
    timeInput.setAttribute("value",time)
    timeLabel.setAttribute("for",time)

    appointmentTimesDiv.appendChild(timeInput)
    appointmentTimesDiv.appendChild(timeLabel)
  }
}
function serverVariables(){
  const durationElement = document.getElementById("cartTotalDuration")
  const priceElement = document.getElementById("cartTotalPrice")
  const duration = document.getElementById("totalDuration").innerHTML
  const price = document.getElementById("total").innerHTML
  durationElement.setAttribute("value",duration)
  priceElement.setAttribute("value",price)

  const services = document.getElementById("services")
  let value = ""
  cart.forEach(service =>{
    value += service.name 
    value += ','
  })
  services.setAttribute("value", value)
}
</script>
